<div class="depot_form">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alret] %></p>
	<% end %>

	<%= form_tag do %>
		<fieldset>
		<legend>Please Log In</legend>

		<div class="field">
			<%= label_tag :name, "Name" %>
			<%= text_field_tag :name, params[:name] %>
		</div>

		<div class="field">
			<%= label_tag :password, 'Password', params[:password] %>
			<%= password_field_tag :password, params[:password] %>
		</div>

		<div class="action">
			<%= submit_tag "Login" %>
		</div>
		</fieldset>
	<% end %>
</div>