Dear <%= @order.name %> 

Thank you for your recent order form The Pragmatic Store.

You ordered the following items:

<%= render @order.line_items %>

We'll send you a seperate email when your order ships.
